
.auth-page {
  background-color: #000;

  width: 100%;
  height: 100%;
}

.auth-page-contents {
  width: 100%;
  min-height: 100%;

  opacity: 0.4;
  background-position: center;
  background-size: 100% 100%;
}
