
button {
  border: none;
  outline: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #444;
  color: #cf0;

  padding: 10px 0;

  transition: background-color 0.1s linear;
  &:hover {
    background-color: #2f7f6f;
  }
  &:active {
    transform: scale(0.95);
  }
}

.button-full {
  width: 100%;
}
