
div.game-thumbnail {
  cursor: pointer;

  padding: 6px 12px;

  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

  img {
    width: 100%;
  }

  .game-title {
    padding-left: 4px;

    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    width: 80%;

    color: #333;
  }

  .game-author {
    padding-left: 4px;

    font-size: 13px;

    color: #444;
  }
}
