
.game-page {

}

.game-header {
  height: 400px;
  width: 100%;

  background-position: center;
  background-size: 120% 410px;
}

.game-info {
  padding: 24px;

  .game-about {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    
  }
}
