
div.game-thumbnail {
  cursor: pointer;

  padding: 6px 12px;

  position: relative;

  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

  .game-thumbnail-image {
    position: relative;

    img.game-image {
      width: 100%;
    }

    .developer-avatar {
      width: 32px;
      height: 32px;

      border: 2px solid #fff;
      border-radius: 100%;

      background-color: #333;

      position: absolute;
      top: 8px;
      right: 8px;

      opacity: 0;
      transform: scale(1);

      transition: all 0.1s ease-in;
    }

    &:hover {
      transition: all 0.1s ease-in;
      .developer-avatar {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }

  .game-title {
    padding-left: 4px;

    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    width: 80%;

    color: #333;
  }

  .game-author {
    padding-left: 4px;

    font-size: 13px;

    color: #444;
  }

  .game-platforms {
    float: right;
    font-size: 13px;
    border-radius: 3px;

    i {
      margin: 2px;
    }
  }
}
