@import "featured.less";
@import "fonts.less";
@import "page.less";
@import "sidebar.less";

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;

  height: 100%;
}

#content, .page-container {
  height: 100%;
}

*, :after, :before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
